@font-face {
  font-family: 'Matiz';
  src: url("../fonts/matiz/Matiz.ttf");
  font-weight: normal;
  font-style: normal; 
}

@font-face {
  font-family: 'Bariol';
  src: url("../fonts/BariolCompleteWebfont/bariol_regular-webfont.ttf");
  font-weight: normal;
  font-style: normal; 
}

@font-face {
  font-family: 'Bariol Bold';
  src: url("../fonts/BariolCompleteWebfont/bariol_bold-webfont.ttf");
  font-weight: normal;
  font-style: normal; 
}