/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1400px) {
    .about-us-wrapper {
        background-size: 1100px;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
    .location-name {
        min-height: 80%;
    }
    .about-us-wrapper {
        background-size: 700px;
    }
    .about-us-wrapper {
        padding-bottom: 50px;
    }
    .main-title {
        flex: 0.5;
    }
    .location-info__title{
        font-size: 19px;
    }
    .logo{
        margin-left: 55px;
    }
    .side-menu__item{
        margin-bottom: 5px;
    }
    .side-menu__item a{
        font-size: 17px;
    }
    .side-menu__title--locations{
        left: -10px;
    }
    #side-menu__icon{
        left: 25px;
    }
    .quote--menu{
        justify-content: space-between;
        top: -50px;
    }
    .quote__link--menu{
        font-size: 30px;
        padding: 38px 40px;
    }
    .menu__link{
        font-size: 23px;
        line-height: 28.79px;
    }
    .main-title__text--quote{
        top: 98px;
    }
    .menu__list{
        margin-left: 70px;
    }
    .locations__link{
        font-family: 'Bariol Bold';
        font-size: 21px;
        line-height: 46.14px;
        letter-spacing: 0.55px;
    }
    .locations__list.row{
        margin-top: -50px;
        padding-left: 150px;
    }
    .form-preview-title{
        top: 50px;
    }
    .moving-preview, .freight-preview{
        background-position-x: -175px !important;
    }
    .title-inset-moving {
        margin-bottom: 70px;
    }
    .col-inset-mov {
        padding: 61px 0 0 107px !important;
    }
    .col-inset-moving{
        padding: 0 0 0 107px !important;
    }
    .speciality{
        background-position-x: -220px !important;
    }
    .title-inset{
        margin-bottom: 34px;
        top: 12px;
    }
    .quote-link_location{
        font-size: 21px;
        padding: 38px 52px;
    }
    .quote__link--freight{
        padding: 25px;
    }
    .action{
        justify-content: center;
    }
    .response{
        position: relative;
        right: 65px;
    }
    .contact-form{
        margin-bottom: 50px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
    .faq {
        padding-bottom: 100px;
    }
    .steps {
        min-width: 50%;
    }
    .action {
        flex-direction: column;
        padding: 0 20px;
    }
    .action__moving:nth-child(1) {
        margin-right: 0px;
        margin-bottom: 20px;
    }
    .contact-form {
        padding-left: 0;
        margin-left: 0;
    }
    .contact-form__secondary textarea {
        width: 100%;
    }
    .locations__list.row{
        padding-left: 80px;
    }
    .table{
        width: 665px!important;
    }
    .quote-link_location{
        padding: 30px 50px;
    }
    .col-inset-mov{
        padding: 61px 0 0 150px !important;
    }
    .main-title  .main-title__text{
        top: 17px;
    }
    .main-title {
        flex: 1;
    }
    .main-title-menu{
        font-size: 25px;
    }
    .main-title__text--quote{
        top: 104px;
    }
    .col-inset{
        padding: 61px 0 0 82px !important;
    }
    .col-inset-moving {
        padding: 0 0 0 42px !important;
    }
    .col-offset-location {
        padding-left: 23px !important;
    }
    .quote-location {
        margin-top: 83px;
    }
    .form-preview-title {
        top: 50px;
    }
    .col-inset-mov{
        padding: 61px 25px 0 82px !important;
    }
    .col-inset-moving {
        padding: 0 0 0 94px !important;
    }
    .title-inset{
        top:14px;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 767px) {
    .location-name {
        min-height: 75%;
    }
    .quote-location {
        margin-bottom: 70px;
        display: flex;
        justify-content: center;
    }
    .location-info iframe {
        min-width: 100%!important;
    }
    .steps {
        min-width: 80%;
    }
    .menu.active-menu .row {
        flex-direction: column;
        align-items: center;
        padding-left: 0;
        text-align: center;
        padding-top: 30px;
    }
    .locations__item {
        margin-bottom: 0px;
        margin-bottom: -10px;
    }
    .menu__link--mobile.locations__link {
        text-transform: uppercase;
        text-decoration: underline;
    }
    .quote--menu .quote__link--menu {
        padding: 18px 23px!important;
        font-size: 21px;
    }
    .menu__list {
        text-align: center;
        transition: all .5s ease-in-out;
        padding-top: 50px;
        margin-bottom: 20px;
    }
    .menu__list.active-mobile-submenu {
        transform: translateX(-9999px);
    }
    .menu__item--locations .locations__list {
        top: 50%;
    }
    .locations__list--mobile.active-mobile-submenu--locations {
        top: 10%;
    }
    .main-title-menu{
        display: none;
    }
    .row--logo {
        display: flex;
        justify-content: center;
    }
    .socials, .footer-desktop, .locations__list {
        display: none;
    }
    .footer-mobile {
        display: block;
    }
    .main-title {
        flex: 0.3;
        padding: 0 30px;
        padding-top: 50px;
    }
    .footer {
        padding: 50px 0;
    }
    .socials--mobile {
        display: flex;
    }
    .container--logo--about {
        margin-bottom: 50px;
    }
    .quote-index {
        display: none;
    }
    .container--form {
        left: 50%;
        transform: translateX(-50%);
    }
    #video-background {
        display: none;
    }
    .wrapper {
        background-image: url('../img/homepage-mobile.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y: -370px;        
    }
    .contact-form {
        background-image: none;
        flex-direction: column;
        padding-top: 300px;
        width: 80%;
    }
    .close-form {
        display: none;
    }
    .submit-contact-form {
        margin: 0 auto;
        display: inherit;
        padding: 8px 15px;
    }
    .menu__link--contact--mobile {
        display: inline-block;
        color: #000000;
        font-size: 20px;
        font-weight: 400;
        text-transform: uppercase;
        text-decoration: underline;
        text-align: center;
        margin-bottom: 30px;
    }
    .table{
        width: 580px!important;
    }
    .location-name__title{
        padding-top: 10%;
    }
    .logo{
        margin-left: 0;
    }
    .quote-location{
        margin-top: 40px;
    }
    .menu__list{
        margin-left: 0;
        padding-top: 0;
    }
    .quote--menu{
        top: 0;
    }
    .quote--menu .quote__link--menu{
        padding: 30px 25px;
    }
    .back-menu{
        top: 44px;
        left: 38px;
    }
    .col-inset-mov{
        padding: 61px 0 0 90px !important;
    }
    .quote__freight .quote__link--freight{
        font-size: 19px;
        padding: 18px;
    }
    .main-title  .main-title__text{
        font-size: 38px;
        padding-top: 95px;
        padding-bottom: 95px;
    }
    .customers {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .customer-item {
        margin-right: 0;
        margin-bottom: 50px;
    }
    .customers .customer-item:nth-child(1) {
        margin-top: 55px;
    }
    .contacts__link {
        color: #fff;
        font-size: 16px;
    }
    .socials__item {
        margin-right: 30px;
    }
    .contacts__link--privacy {
        margin-right: 20px;
    }
    .footer-mobile .quote__link {
        font-size: 21px;
    }
    .quote--menu--freight--link {
        color: #000000;
        font-family: Bariol;
        font-size: 28px;
        font-weight: 600;
        display: inline-block;
        margin-bottom: 30px;
    }
    .quote--menu--freight--link:hover {
        color: #000;
    }
    .quote--menu--freight, .quote--menu--moving {
        position: static;
    }
    .quote__link--menu {
        font-size: 21px;
        padding: 18px 23px!important;
    }
    .quote--menu--freight--link:nth-child(4) {
        margin-bottom: 60px;
    }
    .freight--mobile {
        text-align: left;
        padding-top: 50px;
    }
    .active-freight-bg {
        background-image: url('../img/freight-menu.png');
        background-size: cover;
        overflow: auto;
    }
    .wrapper-moving {
        background-image: url('../img/moving-bg.jpg');
        background-position-y: 0;
    }
    .quote--menu{
        justify-content: center;
    }
    .about-us-wrapper{
        background-image: none;
    }
    .freight--mobile {
        display: block;
    }
    .quote--menu--freight .quote__link--menu {
        display: none;
    }
    .first-quote__label{
        text-align: left;
    }
    .quote--menu--freight .form-preview-title {
        margin-bottom: 20px;
        top: 0;
    }
    .quote--menu--freight {
        padding-top: 100px;
        min-width: 190%!important;
        padding-bottom: 50px;
    }
}
@media only screen and (max-width: 650px) {
    .table {
        width: auto!important;
        margin: 0 10px;
    }
    .side-menu{
        display: none;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
    .location-name {
        background-image: url(../img/bg-location.png);
        background-size: cover;
        min-height: initial;
    }
    .location-name__title {
        padding: 35% 0;
        color: #fff;
    }
    .steps {
        min-width: 100%;
        position: absolute;
        top: 50px;
        margin-top: 140px;
    }

    .steps  li:nth-child(5) a:before {
        content: none;
    }

    .steps ul:after {
        content: none;
    }

    .steps ul {
        padding-left: 12%;
    }

    .wrapper-quote, #quotes {
        min-height: initial;
    }

    #quotes {
        padding: 60% 0;
        padding-bottom: 40px;
    }

    .steps ul li a:before {
        left: 23%;
    }

    .actions ul[role] li:nth-child(2) a {
        padding: 27px 68px!important;
        margin-top: 50px;
        display: block;
    }

    .actions ul[role] li:nth-child(3) a {
        padding: 27px 68px!important;
        margin-top: 50px;
        display: block;
    }

    .group-data i {
        display: none;
    }

    i.fa-calendar {
        display: block;
    }

    .steps ul li.last a:after {
        content: none;
    }

    .action__moving {
        padding: 45px 100px;
    }
    
    .quote {
        min-width: 100%;
        text-align: center;
        position: static;
    }

    .quote__link {
        display: inline-block;
        margin-top: 10px;
        font-size: 21px;
    }

    .main-title  .main-title__text {
        padding: 30px 10px;
        font-size: 33px;
        padding-top: 100px;
        padding-bottom: 388px;
    }
    .logo-empty {
        height: 0px;
    }
    .menu__item {
        margin-bottom: 10px;
    }
    .menu__list {
        margin-bottom: 20px;
    }
    .locations__list.row {
        padding-left: 0;
        text-align: center;
    }
    .locations__item {
        margin-bottom: -8px;
    }
    .locations__link {
        color: #000000;
        font-family: 'Bariol';
        font-size: 20px;
        text-transform: capitalize;
        position: relative;
        letter-spacing: 2.72px;
        font-weight: 600;
    }
    .menu__link--mobile {
        text-transform: uppercase;
        text-decoration: underline;
        margin-bottom: 15px;
        display: inline-block;
    }
    .form-preview-title {
        padding: 0;
    }
    .quote--menu--moving h1 {
        margin-bottom: 150px;
    }
    .quote--menu--freight h1 {
        margin-bottom: 250px;
    }
    .quote__freight {
        flex-direction: column;
    }
    .quote__freight .quote__link:nth-child(1) {
        margin-right: 0;
    }
    .col-inset {
        padding: 30px 21px 0 21px !important;
    }
    .contact-form {
        padding-top: 130px;
        width: 190%;
    }
    .side-menu{
        display: none;
    }
    .col-inset-moving{
        padding: 0 50px 0 58px !important;
    }
    .quote__freight .quote__link:nth-child(1) {
        margin-right: 20px;
    }
    .quote__freight {
        flex-direction: row;
    }
}



/*==========  Mobile First Method  ==========*/

@media only screen and (min-width: 1800px) {
    .menu .container, .wrapper .container--logo {
        width: 80%;
    }
    .menu__link {
        font-size: 32px;
    }
    .quote--menu {
        position: absolute;
        width: 100%;
        height: 100%;
    }
    .logo {
        background-position-y: -139%;
    }
    .logo__link {
        margin-top: 60px;
    }
    .logo__action {
        margin-bottom: 35px;
        padding-top: 10px;
    }
    .about-us {
        background-size: cover;
    }
    .about-us-wrapper {
        background-size: 1500px;
    }
}

@media only screen and (min-width: 1400px) {
    .side-menu {
        left: 50px;
    }
    .container--form {
        left: 10%;
    }
}

@media only screen and (min-width: 768px){
    .back-menu, .locations__list--mobile {
        display: none!important;
    }
}
@media only screen and (min-width: 767px) {
    .footer-desktop {
        display: block;
    }
    .footer-mobile, .socials--mobile, .menu__link--mobile {
        display: none;
    }
    .quote-index {
        display: block;
    }
    .menu__link--contact--mobile {
        display: none;
    }
}

@media only screen and (min-width: 480px) {

}